<ion-view hide-nav-bar="true">

    <ion-content class="home-content" has-header="false" padding="true" style="height: 100%;">

        <div class="row row-logo"></div>

        <div class="row row-buttons">
            <div class="col">
                <a ng-href="#/register" class="button button-block button-positive">
                    Sign Up
                </a>
                <a ng-href="#/login" class="button button-clear button-block button-light">
                  Already registered? Sign in &nbsp;<i class="icon ion-ios7-arrow-forward"></i>
                </a>
            </div>
        </div>

    </ion-content>

</ion-view>