<ion-view title="Live Quiz">
  <ion-content class="padding">

	<div class="card">
	  <div class="item item-text-wrap">
	    {{q.question}}
	  </div>
	</div>

    <form class="list">
        <button class="button button-block button-stable" ng-repeat="choice in q.answers"
                   ng-value="$index"
                   ng-click="saveChoice($index)">
            {{ choice }}
        </button>
    </form>

    <button style="color:black;font-weight:bold" class="button button-block button-positive" ng-class="answer_color" ng-show="answer">{{answer}}</button>
  </ion-content>
</ion-view>
