<ion-view title="Live Quiz">
  <ion-content class="padding">

	<div class="card" ng-show="q.question != 'start' && q.question != 'end'">
	  <div class="item item-text-wrap">
	    <h3>{{q.question}}</h3>
	  </div>
	</div>

    <form class="list">
        <button class="button button-block button-stable" ng-repeat="choice in q.answers"
                   ng-value="$index"
                   ng-click="saveChoice($index)">
            {{ choice }}
        </button>
    </form>

    <button style="color:black;font-weight:bold" class="button button-block button-positive" ng-class="answer_color" ng-show="answer">
      <i class="icon" ng-class="answer_icon"></i>
      {{answer}}
    </button>

    <div class="list bar bar-header bar-energized" ng-show="show_leaders && correct_answer" style="box-shadow:3px 3px #333333;padding:10px">
      <h1 class="title"><b style="font-size:1.5em">!! {{correct_answer.answer}} !!</b> <b>{{correct_answer.user.name}}</b> answered correctly first</h1>
    </div>

    <div class="list card" ng-show="show_leaders" style="box-shadow:3px 3px #333333;background-color:#FFFF00;padding:10px">
      <h3 style="font-size:1em">Leaderboard</h3>
      <ul style="line-height:0.25em">
        <li class="item" ng-repeat="user in leaders">{{user.points}}pts - {{user.name}}</li>
      </ul>
    </div>

    <div class="card" ng-show="q.question == 'end'" style="background:#00AADD;box-shadow:3px 3px #333333;border-radius:6px;padding:10px;color:white">
      <h1 style="color:white">Thanks for playing!</h1>
    </div>

    <div class="card" ng-show="q.question == 'start'" style="background:#00AADD;box-shadow:3px 3px #333333;border-radius:6px;padding:10px;color:white">
      <h1 style="color:white">The Quiz is about to start!</h1>
      <h4 style="color:white">First correct earns 5 points!</h4>
      <h4 style="color:white">Any correct earns 2 points!</h4>
    </div>
  </ion-content>
</ion-view>
